{% extends 'diary/base.html' %}
{% load crispy_forms_tags %}

{% block title%}
Diary
{% endblock  %}


{% block body %}
<!-- this part is displayed -->
<h1>{{entry.title}}</h1>
<p>{{entry.content}}</p>
<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">edit</a>
<a href="{% url 'index' %}">back</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="col-4">
        <form action="{% url 'show_entry' entry.id %}" method="POST">
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn btn-block btn-primary">update</button>
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock  %}