{% extends 'diary/base.html' %}
{% load crispy_forms_tags %}
<!-- page title -->
{% block title%}
Diary
{% endblock  %}

<!-- page start -->
{% block body %}
<div class="col-4">
  <form action="{% url 'index' %}" method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-block btn-primary">Add Category</button>
  </form>
</div>

<a href="#">Add new entry</a>

{% for entry in entries %}
<div>
  <p>Time: {{entry.date_posted}}</p>
  <h5>Title: {{entry.title}}</h5>
  <!-- <p>Content:{{entry.content}}</p> -->
  <a href="{% url 'show_entry' entry.id %}">Show</a><a href="{% url 'show_entry' entry.id %}?del=true">
    delete</a>
</div>
<hr>
</div>
{%endfor%}

{% endblock  %}