{% extends 'expensetracker/base.html' %}

<!-- http://127.0.0.1:8000/expensetracker/daterange -->
{% block body%}
<div>
  <div type="button" class="sel-date-range" data-bs-toggle="modal" data-bs-target="#rangeModal">
    Select Date Range
  </div>
</div>


<div class="modal fade" id="rangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title cdr" id="exampleModalLabel">Choose Date Range</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="range-form">
        <form method="POST" action="">
          {%csrf_token%}
          <div class="form-group">
            <label>Start Date</label>
            <input class="form-control" type="date" id="fromdate" name="fromdate" required='true'>
          </div>
          <div class="form-group">
            <label>End Date</label>
            <input class="form-control" type="date" id="todate" name="todate" required='true'>
          </div>
          <div>
            <button class="btn" type="submit" name="submit">Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>



<div class="date-range-display">
  <h5>The dates selected is
    <p> </p>
    <p>from: <span class="date-disp">{{fd}}</span> </p>
    <p>to: <span class="date-disp">{{td}}</span> </p>
  </h5>
</div>

<div class="table-data-display">


  <table class="table table-bordered table-light">
    <thead>
      <tr>
        <th class="text-center" scope="col">S/N</th>
        <th class="text-center" scope="col">Expense Date</th>
        <th class="text-center" scope="col">Total Expense Cost($)</th>
      </tr>
    </thead>
    <tbody>
      {%for ex in expense%}
      <tr>
        <th class="text-center" scope="row">{{forloop.counter}}</th>
        <td class="text-center">{{ex.date}}</td>
        <td class="text-center">{{ex.totaldaily}}</td>
      </tr>
      {%endfor%}
      <td class="table-success text-start" style="font-weight: 700;" colspan="2">Grand Total</td>
      <td class="table-success text-center" style="font-weight: 700;" colspan="1">{{expense_total.totaldaily__sum}}</td>
    </tbody>
  </table>
</div>
{%endblock%}