{% extends 'expensetracker/base.html' %}
{% load crispy_forms_tags %}

<!-- the whole display of entries will be placed in a tabel format -->

{%block body%}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Expenses
</button>
<button><a href="daterange">View By Date</a></button>


<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">S/N</th>
      <th scope="col">Expense Description</th>
      <th scope="col">Expense Cost</th>
      <th scope="col">Expense Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {%for entry in entries%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{entry.description}}</td>
      <td>{{entry.cost}}</td>
      <td>{{entry.date}}</td>
      <td scope="col">

        <a href="{% url 'edit_entry' entry.id %}?del=true">Delete</a>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>




<!-- Add Expense Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Expense Entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <h1>Add Expenses</h1>
      <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-block btn-primary">Add</button>
      </form>

    </div>
  </div>
</div>
{%endblock%}